.transactionHistory {
    display: grid;
    border: 1px solid #E7E9FC;
}

.transactionOptions {
    display: flex;
    color: white;
    background-color: rgb(0, 174, 255);
    /* border: 1px solid #E7E9FC; */
}

.transactionList {
    display: flex;

}

.transactionNet {
    text-align: center;
    align-items: center;
    display: grid;
    width: 200px;
    height: 40px;
    border: 1px solid #E7E9FC;
}